<main class="">
    <div class="bg-header bg-contact">
        <app-navbar></app-navbar>



    </div>
    
    <section class="contact-datos px-6 container mx-auto grid justify-items-center items-center pb-10 my-40">
        <div>
            <!-- <h2 class="Montserrat-Bold text-2xl md:text-3xl text-center my-8">
                Faculty Advisors
            </h2> -->
            <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
                <div class="md:flex md:flex-col-reverse">
                    <div>
                        <picture class="inline-block">
                            <source media="(max-width: 1023px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-mob.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-mob@2x.jpg 2x'>
                            <source media="(min-width: 1024px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-desk.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-desk@2x.jpg 2x'>
                            <img loading="lazy"
                                src="../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-mob.jpg"
                                alt="Image of Melissa Castillo" class="w-auto object-contain">
                        </picture>
                    </div>
                    <div>
                        <span class="Montserrat-Regular text-sm	md:text-lg block mt-2">Senior Coordinator</span>
                        <strong class="Montserrat-Bold text-base md:text-xl block ">Melissa Castillo</strong>
                        <a href="mailto:destinatario@example.com" target="_blank" rel="noopener noreferrer" class=" block Montserrat-Bold text-[14px] md:text-[18px] mb-8">melissa.castillo@newton.edu.pe</a>
                        
                    </div>
                </div>
                <div class="md:ml-10 md:flex md:flex-col-reverse">
                    <div>
                        <picture class="inline-block">
                            <source media="(max-width: 1023px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-mob.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-mob@2x.jpg 2x'>
                            <source media="(min-width: 1024px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-desk.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-desk@2x.jpg 2x'>
                            <img loading="lazy"
                                src="../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-mob.jpg"
                                alt="Image of Merrill Grant" class="w-auto object-contain">
                        </picture>
                    </div>
                    <div>
                        <span class="Montserrat-Regular text-sm	md:text-lg block mt-2">Junior Coordinator</span>
                        <strong class="Montserrat-Bold text-base md:text-xl block ">Merrill Grant</strong>
                        <a href="mailto:destinatario@example.com" target="_blank" rel="noopener noreferrer" class=" block Montserrat-Bold text-[14px] md:text-[18px] mb-8">merrilll.grant@newton.edu.pe</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <app-footer></app-footer>
</main>