<footer class="bg-green-1">
    <div class="py-10 container mx-auto px-8">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div>
                <div class="flex justify-center md:justify-start">
                    <picture class="inline-block">
                        <source media="(max-width: 1023px)"
                            srcset='../assets/images/footer/logo-mob-footer-newton-mun.png 1x, ../assets/images/footer/logo-mob-footer-newton-mun@2x.png 2x'>
                        <source media="(min-width: 1024px)"
                            srcset='../assets/images/footer/logo-desk-footer-newton-mun.png 1x, ../assets/images/footer/logo-desk-footer-newton-mun@2x.png 2x'>
                        <img src="../assets/images/footer/logo-mob-footer-newton-mun.png" alt="Logo de Newton"
                            class="w-auto object-contain">
                    </picture>
                </div>

            </div>

            <div class="text-center md:text-right">

                <ul class="mt-4 space-y-2 text-xs md:text-sm Montserrat-Regular text-white-1/75">
                    <li>
                        Av. Ricardo Elías Aparicio 240
                    </li>

                    <li>
                        Lima 12, Perú
                    </li>

                    <li>
                        <a class="text-white-1/75 transition hover:text-white-1" href="#">
                            (+511) 2079999
                        </a>
                    </li>


                </ul>
                <ul class="mt-4 flex justify-center md:justify-end gap-8">
                    <li>
                        <a href="https://www.facebook.com/newtoncollegepe" rel="noreferrer" target="_blank" class="transition hover:opacity-75">
                            <span class="sr-only">Facebook</span>

                            <img src="../assets/images/footer/facebook.png" alt="Facebook de Newton"
                                srcset='../assets/images/footer/facebook.png 1x, ../assets/images/footer/facebook@2x.png 2x' class="object-contain">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@NewtonCollegepe" rel="noreferrer" target="_blank"
                            class="transition hover:opacity-75">
                            <span class="sr-only">YouTube</span>
                            <img src="../assets/images/footer/youtube.png" alt="YouTube de Newton"
                                srcset='../assets/images/footer/youtube.png 1x, ../assets/images/footer/youtube@2x.png 2x' class="object-contain">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/newtonmodelun/" rel="noreferrer" target="_blank"
                            class="transition hover:opacity-75">
                            <span class="sr-only">Instagram</span>
                            <img src="../assets/images/footer/instagram.png" alt="Instagram de Newton"
                                srcset='../assets/images/footer/instagram.png 1x, ../assets/images/footer/instagram@2x.png 2x' class="object-contain">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/newton-college/" rel="noreferrer" target="_blank"
                            class="transition hover:opacity-75">
                            <span class="sr-only">LinkedIn</span>
                            <img src="../assets/images/footer/linkedin.png" alt="LinkedIn de Newton"
                            srcset='../assets/images/footer/linkedin.png 1x, ../assets/images/footer/linkedin@2x.png 2x' class="object-contain">
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="text-center mt-4">
            <p class="mt-4 text-xs md:text-sm text-white-1/75 sm:order-first sm:mt-0 Montserrat-Regular">Copyright &copy; 2024
                &verbar; Newton College</p>
        </div>
    </div>
</footer>