@media screen and (min-width: 768px) {
    .bg-aboutus {
        background-image: url('/assets/images/aboutus/header-bg-aboutus-newton-mun-desk@2x.jpg');
        background-position: top;
        background-size: cover;
        padding-bottom: 50vw;

    }
}

@media screen and (max-width: 767px) {
    .bg-aboutus {
        background-image: url('/assets/images/aboutus/header-bg-aboutus-newton-mun-mob@2x.jpg');
        background-position: top;
        background-size: 100px auto;
        padding-bottom: 35vw;
    }



}

@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .bg-aboutus {
        background-image: url('/assets/images/aboutus/header-bg-aboutus-newton-mun-mob@2x.jpg');
    }
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .bg-aboutus {
        background-image: url('/assets/images/aboutus/header-bg-aboutus-newton-mun-desk@2x.jpg');
    }
}

swiper-container {
    width: 100px;
    height: 100px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

swiper-container {
    width: 100px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper {
    height: 80%;
    width: 100px;
}

.mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper2 swiper-slide {
    width: 25%;
    height: 100px;
    opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}

swiper-slide img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}