<main class="">
    <div class="bg-header bg-aboutus">
        <app-navbar></app-navbar>

    </div>


    <section class="aboutus-statist-char">



    </section>
    <section
        class="aboutus-the-secretariat-of-newton-MUN-2024 container mx-auto grid justify-items-center items-center">
        <div>
            <h2 class="Montserrat-Bold text-2xl md:text-3xl">The secretariat of Newton MUN 2024</h2>
            <div>
                <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                    class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                    </swiper-slide>
                </swiper-container>

                <swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true"
                    watch-slides-progress="true">
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>

    </section>
    <section class="aboutus-faculty-advisors container mx-auto grid justify-items-center items-center my-10">
        <div>
            <h2 class="Montserrat-Bold text-2xl md:text-3xl text-center my-8">
                Faculty Advisors
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
                <div class="md:flex md:flex-col-reverse">
                    <div>
                        <picture class="inline-block">
                            <source media="(max-width: 767px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-mob.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-mob@2x.jpg 2x'>
                            <source media="(min-width: 768px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-desk.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-desk@2x.jpg 2x'>
                            <img src="../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-melissa-castillo-mob.jpg"
                                alt="Imagen de Melissa Castillo" class="w-full">
                        </picture>
                    </div>
                    <div>
                        <span class="Montserrat-Regular text-sm	md:text-lg block mt-2">Senior Coordinator</span>
                        <strong class="Montserrat-Bold text-base md:text-xl block mb-8">Melissa Castillo</strong>
                    </div>
                </div>
                <div class="md:ml-10 md:flex md:flex-col-reverse">
                    <div>
                        <picture class="inline-block">
                            <source media="(max-width: 767px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-mob.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-mob@2x.jpg 2x'>
                            <source media="(min-width: 768px)"
                                srcset='../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-desk.jpg 1x, ../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-desk@2x.jpg 2x'>
                            <img src="../assets/images/aboutus/newton-mun-aboutus-faculty-advisors-merrill-grant-mob.jpg"
                                alt="Imagen de Merrill Grant" class="w-full">
                        </picture>
                    </div>
                    <div>
                        <span class="Montserrat-Regular text-sm	md:text-lg block mt-2">Junior Coordinator</span>
                        <strong class="Montserrat-Bold text-base md:text-xl block mb-8">Merrill Grant</strong>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <app-footer></app-footer>
</main>