<main class="">
    <div class="bg-header bg-gallery">
        <app-navbar></app-navbar>



    </div>
    <section class="contact-datos  container mx-auto my-20 px-8">
        <div class="tabs">
            <div class="tab" (click)="selectTab('tab1')" [class.active]="selectedTab === 'tab1'">Newton <span>MUN
                    2023</span> </div>
            <div class="tab" (click)="selectTab('tab2')" [class.active]="selectedTab === 'tab2'"> <span>Let’s</span> MUN
            </div>
            <div class="tab" (click)="selectTab('tab3')" [class.active]="selectedTab === 'tab3'"><span>2023 MUN</span>
                Conferences</div>
            <div class="tab" (click)="selectTab('tab4')" [class.active]="selectedTab === 'tab4'">MUN <span>
                    Tarapoto</span></div>

        </div>

        <div *ngIf="selectedTab === 'tab1'" class="tab-content tab1">
            <div class=" flex flex-row">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/DSC00171.JPG',0)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-1.jpg" alt="Newton MUN 2023">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',1)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-2.jpg" alt="Newton MUN 2023">
                </div>

                <img loading="lazy" class="mb"
                    (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',2)"
                    src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-3.jpg" alt="Newton MUN 2023">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',3)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-4.jpg" alt="Newton MUN 2023">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',4)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-5.jpg" alt="Newton MUN 2023">
                </div>
            </div>

            <div class=" flex flex-row">
                <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',5)"
                    src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-6.jpg" alt="Newton MUN 2023">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',6)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-7.jpg" alt="Newton MUN 2023">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',7)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-8.jpg" alt="Newton MUN 2023">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',8)"
                    src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-9.jpg" alt="Newton MUN 2023">
            </div>
            <div class=" flex flex-row">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',9)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-10.jpg"
                        alt="Newton MUN 2023">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',10)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-11.jpg"
                        alt="Newton MUN 2023">
                </div>

                <img loading="lazy" class="mb"
                    (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',11)"
                    src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-12.jpg" alt="Newton MUN 2023">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',12)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-13.jpg"
                        alt="Newton MUN 2023">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/newton-mun-2023/IMG_2586.JPG',13)"
                        src="../assets/images/gallery/newton-mun-2023/gallery-nm2023-f-14.jpg"
                        alt="Newton MUN 2023">
                </div>
            </div>




            <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()" [imageUrl]="modalImageUrl">
                <img [src]="images[currentIndex]" alt="Image">
                <button class=" prev" (click)="prevSlide()">
                    <i class="arrow left"></i>
                </button>
                <button class=" next" (click)="nextSlide()">
                    <i class="arrow right"></i>
                </button>
            </app-modal>

        </div>
        <div *ngIf="selectedTab === 'tab2'" class="tab-content tab2">
            <div class="flex flex-row">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/1.jpg',0)"
                        src="../assets/images/gallery/letsmun/gallery-letsmun-f-1.jpg" alt="Let's MUN">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/2.jpg',1)"
                        src="../assets/images/gallery/letsmun/gallery-letsmun-f-2.jpg" alt="Let's MUN">

                </div>
                <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/3.jpg',2)"
                    src="../assets/images/gallery/letsmun/gallery-letsmun-f-3.jpg" alt="Let's MUN">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/4.jpg',3)"
                        src="../assets/images/gallery/letsmun/gallery-letsmun-f-4.jpg" alt="Let's MUN">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/5.jpg',4)"
                        src="../assets/images/gallery/letsmun/gallery-letsmun-f-5.jpg" alt="Let's MUN">

                </div>
            </div>
            <div class="flex flex-row">
                <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/6.jpg',5)"
                    src="../assets/images/gallery/letsmun/gallery-letsmun-f-6.jpg" alt="Let's MUN">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/7.jpg',6)"
                        src="../assets/images/gallery/letsmun/gallery-letsmun-f-7.jpg" alt="Let's MUN">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/letsmun/8.jpg',7)"
                        src="../assets/images/gallery/letsmun/gallery-letsmun-f-8.jpg" alt="Let's MUN">
                </div>
            </div>


            <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()" [imageUrl]="modalImageUrl">
                <img [src]="images2[currentIndex]" alt="Image">
                <button class=" prev" (click)="prevSlide2()">
                    <i class="arrow left"></i>
                </button>
                <button class=" next" (click)="nextSlide2()">
                    <i class="arrow right"></i>
                </button>
            </app-modal>
        </div>
        <div *ngIf="selectedTab === 'tab3'" class="tab-content tab3">
            <div>
                <h4 class="Montserrat-Semibold">Harvard MUN</h4>
                <div>
                    <div class="flex flex-row">
                        <div>
                            <img loading="lazy"
                                (click)="openModal('../assets/images/gallery/2023-mun-conferences/harvard/1.jpg',0)"
                                src="../assets/images/gallery/2023-mun-conferences/harvard/conferences-harvard-f-1.jpg"
                                alt="2023 MUN Conferences">
                            <img loading="lazy"
                                (click)="openModal('../assets/images/gallery/2023-mun-conferences/harvard/2.jpg',1)"
                                src="../assets/images/gallery/2023-mun-conferences/harvard/conferences-harvard-f-2.jpg"
                                alt="2023 MUN Conferences">
                        </div>

                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/harvard/3.jpg',2)"
                            src="../assets/images/gallery/2023-mun-conferences/harvard/conferences-harvard-f-3.jpg"
                            alt="2023 MUN Conferences">
                        <div>
                            <img loading="lazy"
                                (click)="openModal('../assets/images/gallery/2023-mun-conferences/harvard/4.jpg',3)"
                                src="../assets/images/gallery/2023-mun-conferences/harvard/conferences-harvard-f-4.jpg"
                                alt="2023 MUN Conferences">
                            <img loading="lazy"
                                (click)="openModal('../assets/images/gallery/2023-mun-conferences/harvard/5.jpg',4)"
                                src="../assets/images/gallery/2023-mun-conferences/harvard/conferences-harvard-f-5.jpg"
                                alt="2023 MUN Conferences">
                        </div>
                    </div>

                    <div class="flex flex-row">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/harvard/6.jpg',5)"
                            src="../assets/images/gallery/2023-mun-conferences/harvard/conferences-harvard-f-6.jpg"
                            alt="2023 MUN Conferences">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/harvard/7.jpg',6)"
                            src="../assets/images/gallery/2023-mun-conferences/harvard/conferences-harvard-f-7.jpg"
                            alt="2023 MUN Conferences">
                    </div>



                </div>
            </div>
            <div>
                <h4 class="Montserrat-Semibold">
                    Markham MUN
                </h4>
                <div class="flex flex-row">
                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/markham/1.jpg',7)"
                        src="../assets/images/gallery/2023-mun-conferences/markham/conferences-markham-f-1.jpg"
                        alt="2023 MUN Conferences">
                    <div>
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/markham/2.jpg',8)"
                            src="../assets/images/gallery/2023-mun-conferences/markham/conferences-markham-f-2.jpg"
                            alt="2023 MUN Conferences">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/markham/3.jpg',9)"
                            src="../assets/images/gallery/2023-mun-conferences/markham/conferences-markham-f-3.jpg"
                            alt="2023 MUN Conferences">
                    </div>

                </div>
            </div>
            <div>
                <h4 class="Montserrat-Semibold">
                    San Silvestre MUN
                </h4>
                <div class="flex flex-row">
                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/san-silvestre/1.jpg',10)"
                        src="../assets/images/gallery/2023-mun-conferences/san-silvestre/conferences-san-silvestre-f-1.jpg"
                        alt="2023 MUN Conferences">
                </div>
            </div>
            <div>
                <h4 class="Montserrat-Semibold">
                    Santa María MUN
                </h4>
                <div class="flex flex-row">
                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/san-maria/1.jpg',11)"
                        src="../assets/images/gallery/2023-mun-conferences/san-maria/conferences-san-maria-f-1.jpg"
                        alt="2023 MUN Conferences">
                    <div>
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/san-maria/2.jpg',12)"
                            src="../assets/images/gallery/2023-mun-conferences/san-maria/conferences-san-maria-f-2.jpg"
                            alt="2023 MUN Conferences">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/san-maria/3.jpg',13)"
                            src="../assets/images/gallery/2023-mun-conferences/san-maria/conferences-san-maria-f-3.jpg"
                            alt="2023 MUN Conferences">
                    </div>

                </div>
            </div>
            <div>
                <h4 class="Montserrat-Semibold">
                    Villa Caritas and San Pedro MUN
                </h4>
                <div class="flex flex-row">
                    <div>
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/caritas-pedro/1.jpg',14)"
                            src="../assets/images/gallery/2023-mun-conferences/caritas-pedro/conferences-caritas-pedro-f-1.jpg"
                            alt="2023 MUN Conferences">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/caritas-pedro/2.jpg',15)"
                            src="../assets/images/gallery/2023-mun-conferences/caritas-pedro/conferences-caritas-pedro-f-2.jpg"
                            alt="2023 MUN Conferences">
                    </div>

                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/caritas-pedro/3.jpg',16)"
                        src="../assets/images/gallery/2023-mun-conferences/caritas-pedro/conferences-caritas-pedro-f-3.jpg"
                        alt="2023 MUN Conferences">
                    <div>
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/caritas-pedro/4.jpg',17)"
                            src="../assets/images/gallery/2023-mun-conferences/caritas-pedro/conferences-caritas-pedro-f-4.jpg"
                            alt="2023 MUN Conferences">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/caritas-pedro/5.jpg',18)"
                            src="../assets/images/gallery/2023-mun-conferences/caritas-pedro/conferences-caritas-pedro-f-5.jpg"
                            alt="2023 MUN Conferences">
                    </div>

                </div>
            </div>
            <div>
                <h4 class="Montserrat-Semibold">
                    Liceo Naval Almirante Guise MUN
                </h4>
                <div class="flex flex-row">
                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/liceo/1.jpg',19)"
                        src="../assets/images/gallery/2023-mun-conferences/liceo/conferences-liceo-f-1.jpg"
                        alt="2023 MUN Conferences">
                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/liceo/2.jpg',20)"
                        src="../assets/images/gallery/2023-mun-conferences/liceo/conferences-liceo-f-2.jpg"
                        alt="2023 MUN Conferences">
                </div>
            </div>
            <div>
                <h4 class="Montserrat-Semibold">
                    Carmelitas MUN
                </h4>
                <div class="flex flex-row">
                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/carmelitas/1.jpg',21)"
                        src="../assets/images/gallery/2023-mun-conferences/carmelitas/conferences-carmelitas-f-1.jpg"
                        alt="2023 MUN Conferences">
                    <div>
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/carmelitas/2.jpg',22)"
                            src="../assets/images/gallery/2023-mun-conferences/carmelitas/conferences-carmelitas-f-2.jpg"
                            alt="2023 MUN Conferences">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/carmelitas/3.jpg',23)"
                            src="../assets/images/gallery/2023-mun-conferences/carmelitas/conferences-carmelitas-f-3.jpg"
                            alt="2023 MUN Conferences">
                    </div>


                </div>
            </div>
            <div>
                <h4 class="Montserrat-Semibold">
                    Lord Byron MUN
                </h4>
                <div class="flex flex-row">
                    <img loading="lazy"
                        (click)="openModal('../assets/images/gallery/2023-mun-conferences/byron/1.jpg',24)"
                        src="../assets/images/gallery/2023-mun-conferences/byron/conferences-byron-f-1.jpg"
                        alt="2023 MUN Conferences">
                    <div>
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/byron/2.jpg',25)"
                            src="../assets/images/gallery/2023-mun-conferences/byron/conferences-byron-f-2.jpg"
                            alt="2023 MUN Conferences">
                        <img loading="lazy"
                            (click)="openModal('../assets/images/gallery/2023-mun-conferences/byron/3.jpg',26)"
                            src="../assets/images/gallery/2023-mun-conferences/byron/conferences-byron-f-3.jpg"
                            alt="2023 MUN Conferences">
                    </div>


                </div>
                <img loading="lazy" (click)="openModal('../assets/images/gallery/2023-mun-conferences/byron/4.jpg',27)"
                    src="../assets/images/gallery/2023-mun-conferences/byron/conferences-byron-f-4.jpg"
                    alt="2023 MUN Conferences">
            </div>

            <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()" [imageUrl]="modalImageUrl">
                <img [src]="images3[currentIndex]" alt="Image">
                <button class=" prev" (click)="prevSlide3()">
                    <i class="arrow left"></i>
                </button>
                <button class=" next" (click)="nextSlide3()">
                    <i class="arrow right"></i>
                </button>
            </app-modal>
        </div>
        <div *ngIf="selectedTab === 'tab4'" class="tab-content tab4">

            <div class="flex flex-row">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/1.jpg',0)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-1.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/2.jpg',1)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-2.jpg" alt="Image of MUN Tarapoto">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/3.jpg',2)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-3.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/4.jpg',3)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-4.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/5.jpg',4)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-5.jpg" alt="Image of MUN Tarapoto">
                </div>
            </div>
            <div class="flex flex-row">
                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/6.jpg',5)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-6.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/7.jpg',6)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-7.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/8.jpg',7)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-8.jpg" alt="Image of MUN Tarapoto">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/9.jpg',8)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-9.jpg" alt="Image of MUN Tarapoto">
            </div>
            <div class="flex flex-row">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/10.jpg',9)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-10.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/11.jpg',10)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-11.jpg" alt="Image of MUN Tarapoto">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/12.jpg',11)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-12.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/13.jpg',12)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-13.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/14.jpg',13)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-14.jpg" alt="Image of MUN Tarapoto">
                </div>

            </div>

            <div class="flex flex-row">
                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/15.jpg',14)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-15.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/16.jpg',15)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-16.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/17.jpg',16)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-17.jpg" alt="Image of MUN Tarapoto">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/18.jpg',17)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-18.jpg" alt="Image of MUN Tarapoto">
            </div>
            <div class="flex flex-row">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/19.jpg',18)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-19.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/20.jpg',19)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-20.jpg" alt="Image of MUN Tarapoto">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/21.jpg',20)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-21.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/22.jpg',21)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-22.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/23.jpg',22)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-23.jpg" alt="Image of MUN Tarapoto">
                </div>
            </div>
            <div class="flex flex-row">

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/24.jpg',23)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-24.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/25.jpg',24)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-25.jpg" alt="Image of MUN Tarapoto">


                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/26.jpg',25)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-26.jpg" alt="Image of MUN Tarapoto">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/27.jpg',26)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-27.jpg" alt="Image of MUN Tarapoto">

            </div>
            <div class="flex flex-row">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/28.jpg',27)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-28.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/29.jpg',28)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-29.jpg" alt="Image of MUN Tarapoto">
                </div>
                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/30.jpg',29)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-30.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/31.jpg',30)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-31.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/32.jpg',31)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-32.jpg" alt="Image of MUN Tarapoto">
                </div>
            </div>

            <div class="flex flex-row">
                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/33.jpg',32)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-33.jpg" alt="Image of MUN Tarapoto">
                <div>
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/34.jpg',33)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-34.jpg" alt="Image of MUN Tarapoto">
                    <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/35.jpg',34)"
                        src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-35.jpg" alt="Image of MUN Tarapoto">
                </div>

                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/36.jpg',35)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-36.jpg" alt="Image of MUN Tarapoto">
            </div>
            <div class="flex flex-row">
                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/37.jpg',36)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-37.jpg" alt="Image of MUN Tarapoto">
                <img loading="lazy" (click)="openModal('../assets/images/gallery/tarapoto/38.jpg',37)"
                    src="../assets/images/gallery/tarapoto/gallery-tarapoto-f-38.jpg" alt="Image of MUN Tarapoto">
            </div>
            <div class="w-full mx-auto max-w-[1536px]  pt-3">
                <iframe class="aspect-video w-full" src="https://www.youtube.com/embed/Jptaj1g61ww"
                    title="Newton College Model UN - 2023 YouTube video" allowfullscreen></iframe>
            </div>


            <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()" [imageUrl]="modalImageUrl">
                <img [src]="images4[currentIndex]" alt="Image of MUN Tarapoto">
                <button class=" prev" (click)="prevSlide4()">
                    <i class="arrow left"></i>
                </button>
                <button class=" next" (click)="nextSlide4()">
                    <i class="arrow right"></i>
                </button>
            </app-modal>
        </div>

    </section>


    <app-footer></app-footer>
</main>