<header class="">
    <div class="mx-auto max-w-screen-xl py-4">
        <div class="flex items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12">
                <a class="block text-teal-600" href="#">
                    <span class="sr-only">Home</span>

                    <!-- <picture>
                        <source media="(max-width: 1023px)"
                            srcset='../assets/images/navbar/logo-mob-header-newton-mun.png 1x, ../assets/images/navbar/logo-mob-header-newton-mun@2x.png 2x'>
                        <source media="(min-width: 1024px)"
                            srcset='../assets/images/navbar/logo-desk-header-newton-mun.png 1x, ../assets/images/navbar/logo-desk-header-newton-mun@2x.png 2x'>
                        <img ngSrc="../assets/images/navbar/logo-mob-header-newton-mun.png" alt="Logo de Newton">
                    </picture> -->

                </a>
            </div>
            <div class="flex items-center gap-4 block md:hidden">
                <div class="sm:flex sm:gap-4">
                    <a class="rounded-full bg-green-5 px-5 text-sm font-medium text-white-1 Montserrat-Semibold shadow"
                        href="#">
                        Apply
                    </a>
                </div>
            </div>
            <div [class]="isOpen ? 'block' : 'hidden'"
                class="bg-green-1 py-4 px-8 md:flex md:items-center md:gap-12 rounded-full  newton-navbar">
                <button (click)="toggleMenu()"
                    class="absolute top-0 right-0 p-2 text-white-1 hover:text-white-800 focus:outline-none md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
                <nav aria-label="Global" class="">
                    <ul class="flex flex-col md:flex-row items-center gap-6 text-sm">
                        <li>
                            <a class="text-white-1 transition hover:text-white-1/75 Montserrat-Semibold" href="#"> Home
                            </a>
                        </li>

                        <li>
                            <a class="text-white-1 transition hover:text-white-1/75 Montserrat-Semibold" href="#"> About
                                us </a>
                        </li>

                        <li>
                            <a class="text-white-1 transition hover:text-white-1/75 Montserrat-Semibold" href="#">
                                Schedule </a>
                        </li>

                        <li>
                            <a class="text-white-1 transition hover:text-white-1/75 Montserrat-Semibold" href="#">
                                Committees </a>
                        </li>

                        <li>
                            <a class="text-white-1 transition hover:text-white-1/75 Montserrat-Semibold" href="#">
                                Gallery </a>
                        </li>

                        <li>
                            <a class="text-white-1 transition hover:text-white-1/75 Montserrat-Semibold" href="#">
                                Facilities </a>
                        </li>
                        <li>
                            <a class="text-white-1 transition hover:text-white-1/75 Montserrat-Semibold" href="#">
                                Contact </a>
                        </li>
                    </ul>
                </nav>

                <div class="flex items-center gap-4">
                    <div class="sm:flex sm:gap-4">
                        <a class="rounded-full bg-green-5 px-5 text-sm font-medium text-white-1 Montserrat-Semibold shadow"
                            href="#">
                            Apply
                        </a>
                    </div>
                </div>
            </div>
            <div class="block md:hidden">

                <button (click)="toggleMenu()" [id]=""
                    class="transition hover:text-gray-600/75 w-10 bg-green-1 rounded-lg p-2 focus:outline-none">
                    <span class="block w-full h-0.5 bg-white-1 rounded-full"></span>
                    <span class="block w-full h-0.5 bg-white-1 mt-1 rounded-full"></span>
                    <span class="block w-full h-0.5 bg-white-1 mt-1 rounded-full"></span>
                    <span class="block w-full h-0.5 bg-white-1 mt-1 rounded-full"></span>
                </button>
            </div>
        </div>
    </div>

</header>


<!-- <div [class]="isOpen ? 'block' : 'hidden'" class="fixed top-0 left-0 w-full h-full bg-green-1 z-50">
    <button (click)="toggleMenu()"
        class="absolute top-0 right-0 p-2 text-white-1 hover:text-white-800 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
    
</div> -->