<main class="">
    <div class="bg-schedule bg-header">
        <app-navbar></app-navbar>
        <section class="flex flex-col container mx-auto home-logo-mun pt-28 md:pt-48 pb-56 md:pb-36">
            <div class="mx-auto md:ml-0">
                <picture class="inline-block">
                    <source media="(max-width: 767px)"
                        srcset='../assets/images/home/logo-MUN-mob-Newton-College.png 1x, ../assets/images/home/logo-MUN-mob-Newton-College@2x.png 2x'>
                    <source media="(min-width: 768px)"
                        srcset='../assets/images/home/logo-MUN-desk-Newton-College.png 1x, ../assets/images/home/logo-MUN-desk-Newton-College@2x.png 2x'>
                    <img src="../assets/images/home/logo-MUN-mob-Newton-College.png" alt="Logo de Newton MUN"
                        class="w-full">
                </picture>
            </div>

            <div class="text-center md:text-left">
                <p class="Montserrat-Medium text-white-1 text-sm md:text-3xl mt-3 md:mt-4 md:mb-6 md:pb-2">Join us on
                    April 20th
                    & 21st!</p>
                <a class="rounded-full bg-green-5 px-8 md:px-12  text-white-1 Montserrat-Bold py-1 md:py-2 transition-all hover:bg-green-1 text-sm md:text-xl"
                    href="#">
                    Apply
                </a>
            </div>


        </section>
    </div>


    <section class="home-statist-char">

        

    </section>
    <section class="flex flex-col container mx-auto home-letter-from-newton md:py-20">
        
    </section>
    <section class="home-video-yt container mx-auto grid justify-items-center items-center">

        
    </section>
    <app-footer></app-footer>
</main>