<main class="">
    <div class="bg-header bg-schedule">
        <app-navbar></app-navbar>
        <section class="container mx-auto px-6 py-10 md:py-0 grid justify-items-center items-center md:h-[100vh]">
            <div class="w-full flex flex-col md:flex-row justify-center md:justify-around md:gap-20">
                <div>
                    <h1 class="text-white-1 Montserrat-Semibold text-2xl md:text-[28px]">First Day</h1>
                    <span
                        class="text-white-1 Montserrat-Semibold text-lg md:text-xl bg-green-6 py-1 px-2">Saturday</span>

                    <table class="table-auto w-full mt-4 mb-10">
                        <tbody>
                            <tr>
                                <td
                                    class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-[55%] after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    7:45 - 8:15
                                </td>

                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Registration
                                </td>

                            </tr>
                            <tr>
                                <td
                                    class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    8:15- 8:50
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Opening Ceremony
                                </td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">8:50 - 9:10
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Transition to
                                    committees</td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">9:10 - 11:30
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Session I</td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">11:30 - 11:55
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Break</td>

                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">11:55 - 14:00
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Session II
                                </td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">14:00 - 15:30
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Lunch</td>


                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">15:30 - 17:00
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm"> Session III
                                </td>


                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">17:00 - 17:15
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Break</td>


                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">17:15 - 18:25
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Session IV
                                </td>

                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-0 after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">18:25- 18:40
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Break</td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:top-0 after:right-0 after:w-[2px] after:h-[55%] after:bg-green-6 before:content-[''] before:absolute before:bottom-[14px] before:right-[-2px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">18:40 - 19:45
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">Session V +
                                    feedback</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h1 class="text-white-1 Montserrat-Semibold text-2xl md:text-[28px]">Second Day</h1>
                    <span class="text-white-1 Montserrat-Semibold text-lg md:text-xl bg-green-6 py-1 px-2">Sunday</span>
                    <table class="table-auto w-full mt-4 mb-10">
                        <tbody>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-[10px] after:w-[2px] after:h-[55%] after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[8px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    8:00 - 8:30
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Doors Open
                                </td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-[10px] after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[8px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    8:30 - 10:45
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Session VI
                                </td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-[10px] after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[8px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    10:45 - 11:00
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Break
                                </td>
                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:bottom-0 after:right-[10px] after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[8px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    11:00 - 12:00
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Session VII
                                </td>

                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:top-0 after:right-[10px] after:w-[2px] after:h-full after:bg-green-6 before:content-[''] before:absolute before:top-[14px] before:right-[8px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    12:00 - 12:45
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Break
                                </td>

                            </tr>
                            <tr>
                                <td class="relative px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm after:content-[''] after:absolute after:top-0 after:right-[10px] after:w-[2px] after:h-[55%] after:bg-green-6 before:content-[''] before:absolute before:bottom-[14px] before:right-[8px] before:w-[7px] before:h-[7px] before:bg-green-6 before:rounded-full">
                                    12:45 - 14:00
                                </td>
                                <td class="px-4 py-2 text-white-1 Montserrat-Semibold text-xs md:text-sm">
                                    Closing Ceremony
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


        </section>

    </div>
    <app-footer></app-footer>
</main>