<main class="">
    <div class="bg-header bg-committees">
        <app-navbar></app-navbar>
        

        <div class="text-center py-40">
            <p class="Montserrat-Bold text-white-1 text-[24px] mb-4 md:text-[30px]">
                Download the</p>
            <a class="rounded-full bg-green-5 text-white-1 Montserrat-Semibold transition-all hover:bg-green-1 text-[14px] p-3 md:text-[20px]"
                href="#">
                Delegate Guide
            </a>
        </div>
    </div>





    <section class="committees-slider px-6 container mx-auto py-12">
        <div class="flex flex-col items-center justify-items-center">
           
            <div class="w-full the-secretariat-slider relative">
               <ngx-slick-carousel class="the-secretariat-slide_ngx" #slickModal="slick-carousel"
                    [config]="slideConfig1">
                    <div ngxSlickItem class="slide">
                        <div class="flex flex-col lg:flex-row items-center justify-items-center ">
                            <img src="../assets/images/committees/committees-disec.jpg"
                            srcset='../assets/images/committees/committees-disec.jpg 1x, ../assets/images/committees/committees-disec@2x.jpg 2x'   alt="Image of" class="w-auto">
                           
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="flex flex-col lg:flex-row items-center justify-items-center ">
                            <img src="../assets/images/committees/committees-sochum.jpg"
                            srcset='../assets/images/committees/committees-sochum.jpg 1x, ../assets/images/committees-sochum@2x.jpg 2x'   alt="Image of" class="w-auto">
                           
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="flex flex-col lg:flex-row items-center justify-items-center ">
                            <img src="../assets/images/committees/committees-hunsc.jpg"
                            srcset='../assets/images/committees/committees-hunsc.jpg 1x, ../assets/images/committees/committees-hunsc@2x.jpg 2x'   alt="Image of" class="w-auto">
                           
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="flex flex-col lg:flex-row items-center justify-items-center ">
                            <img src="../assets/images/committees/committees-presscorps.jpg"
                            srcset='../assets/images/committees/committees-presscorps.jpg 1x, ../assets/images/committees/committees-presscorps@2x.jpg 2x'   alt="Image of" class="w-auto">
                           
                        </div>
                    </div>
                   
        
                </ngx-slick-carousel>

            </div>

        </div>

    </section>


    <app-footer></app-footer>
</main>