<main class="">
    <div class="bg-header bg-committees">
        <app-navbar></app-navbar>


        <div class="text-center py-40">
            <p class="Montserrat-Bold text-white-1 text-[24px] mb-4 md:text-[30px]">
                Download the</p>
            <a class="rounded-full bg-green-5 text-white-1 Montserrat-Semibold transition-all hover:bg-green-1 text-[14px] p-3 md:text-[20px]"
                href="#">
                Delegate Guide
            </a>
        </div>
    </div>





    <section class="committees-slider container mx-auto pt-10 ">
        <div class="flex flex-col items-center justify-items-center">

            <div class="w-full committees-slider_box relative">
                <ngx-slick-carousel #slickCarousel class="committees-slider_ngx" #slickModal="slick-carousel"
                    [config]="slideConfig1" (init)="slickInit($event)">
                    <div ngxSlickItem class="slide">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-disec-v2.jpg"
                                    srcset='../assets/images/committees/committees-disec-v2.jpg 1x, ../assets/images/committees/committees-disec-v2@2x.jpg 2x'
                                    alt="Image of Disamament and International Security (DISEC)" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">General Assembly Committees
                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">Disamament
                                    and
                                    International
                                    Security (DISEC)
                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">Hybrid Warfare
                                    (50 countries - double)
                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide slide  transition-all">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-sochum-v2.jpg"
                                    srcset='../assets/images/committees/committees-sochum-v2.jpg 1x, ../assets/images/committees-sochum-v2@2x.jpg 2x'
                                    alt="Image of Social,
                                    Humanitarian, and
                                    Cultural Committee (SOCHUM)
                                    Addressing SDG 12: Responsible consumption and production" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">General Assembly Committees
                                </p>
                                <strong
                                    class=" Montserrat-Bold text-[14px] lg:text-[18px] mb-3 inline-block relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">Social,
                                    Humanitarian, and
                                    Cultural Committee (SOCHUM)
                                    Addressing SDG 12: Responsible consumption and production
                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(45 delegates)

                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide slide  transition-all">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-hunsc-v2.jpg"
                                    srcset='../assets/images/committees/committees-hunsc-v2.jpg 1x, ../assets/images/committees/committees-hunsc-v2@2x.jpg 2x'
                                    alt="Image of World
                                    War III" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">Futuristic United Nations
                                    Security
                                    Council (FUNSC)
                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block   mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">World
                                    War III

                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(30 countries)

                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide slide  transition-all">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-unifec-v2.jpg"
                                    srcset='../assets/images/committees/committees-unifec-v2.jpg 1x, ../assets/images/committees/committees-unifec-v2@2x.jpg 2x'
                                    alt="Image of Responding
                                    to Child
                                    Trafficking
                                    in Conflict Zones" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">The United Nations Children's
                                    Fund
                                    (UNICEF)

                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block   mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">Responding
                                    to Child
                                    Trafficking
                                    in Conflict Zones
                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(30 delegates - double)
                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide slide  transition-all">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-hunsc-v2.jpg"
                                    srcset='../assets/images/committees/committees-hunsc-v2.jpg 1x, ../assets/images/committees/committees-hunsc-v2@2x.jpg 2x'
                                    alt="Image of The
                                    treatment of
                                    journalists in
                                    conflict zones" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">The Historical United Nations
                                    Security Council (UNESCO)
                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block   mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">The
                                    treatment of
                                    journalists in
                                    conflict zones

                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(35 countries)

                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide slide  transition-all">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-jcc1-v2.jpg"
                                    srcset='../assets/images/committees/committees-jcc1-v2.jpg 1x, ../assets/images/committees/committees-jcc1-v2@2x.jpg 2x'
                                    alt="Image of Chavín
                                    de Huantar
                                    Military
                                    Operation: Takeover of Japanese Embassy" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">The Joint Crisis Committee
                                    (JCC)

                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block   mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">Chavín
                                    de Huantar
                                    Military
                                    Operation: Takeover of Japanese Embassy

                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(20 delegates)

                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-jcc2-v2.jpg"
                                    srcset='../assets/images/committees/committees-jcc2-v2.jpg 1x, ../assets/images/committees/committees-jcc2-v2@2x.jpg 2x'
                                    alt="Image of Protección
                                    contra
                                    la
                                    Censura
                                    Artística" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">Organización de Estados
                                    Americanos
                                    (OEA)

                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block   mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">Protección
                                    contra
                                    la
                                    Censura
                                    Artística
                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(35 countries)

                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide slide  transition-all">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-jcc2-v2.jpg"
                                    srcset='../assets/images/committees/committees-jcc2-v2.jpg 1x, ../assets/images/committees/committees-jcc2-v2@2x.jpg 2x'
                                    alt="Image of Addressing
                                    Disparities
                                    in Access
                                    to Assisted Reproductive Technologies" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">United Nations - Women
                                    (UNWOMEN)
                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block   mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">Addressing
                                    Disparities
                                    in Access
                                    to Assisted Reproductive Technologies

                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(35 countries)


                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>
                    <div ngxSlickItem class="slide slide  transition-all">
                        <div class="flex flex-col items-center justify-between">
                            <div
                                class="flex flex-col lg:flex-row items-center justify-items-center justify-center hover:scale-105 cursor-pointer">
                                <img loading="lazy" src="../assets/images/committees/committees-presscorps-v2.jpg"
                                    srcset='../assets/images/committees/committees-presscorps-v2.jpg 1x, ../assets/images/committees/committees-presscorps-v2@2x.jpg 2x'
                                    alt="Image of Press
                                    Corps" class="w-[80%] object-contain">

                            </div>
                            <div class="text-center mt-14 text-slider-hide h-[270px]">
                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] ">
                                </p>
                                <strong
                                    class="Montserrat-Bold text-[14px] lg:text-[18px] inline-block   mb-3 relative after:content-[''] after:absolute after:bottom-[-4px] after:right-0 after:w-[100%] after:h-[1px] after:bg-gray-1">Press
                                    Corps

                                </strong>


                                <p class="Montserrat-Regular text-[12px] lg:text-[14px] mb-2">(15 delegates)

                                </p>
                                <a href="http://" target="_blank" rel="noopener noreferrer"
                                    class="Montserrat-Semibold text-[14px] rounded-full bg-green-5 text-white-1 transition-all hover:bg-green-1 p-1 px-4">Download</a>
                            </div>
                        </div>

                    </div>


                </ngx-slick-carousel>

            </div>

        </div>

    </section>


    <app-footer></app-footer>
</main>