@media screen and (min-width: 768px) {
    .bg-committees {
        background-image: url('/assets/images/committees/newton-committess-bg-desk-v3.jpg');
        background-position: top;
        background-size: cover;

    }
}


@media screen and (max-width: 767px) {
    .bg-committees {
        background-image: url('/assets/images/committees/newton-committess-bg-desk-v3.jpg');
        background-position: top;
    }
}

 
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .bg-committees {
        background-image: url('/assets/images/committees/newton-committess-bg-mob-v3@2x.jpg');
    }
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .bg-committees {
        background-image: url('/assets/images/committees/newton-committess-bg-desk-v3@2x.jpg');
    }
} 