<app-navbar></app-navbar>

<main class="container mx-auto py-12">
    <section class="flex flex-wrap">
        <div class="w-full md:w-1/2 p-4">
            <h2 class="text-xl font-bold mb-4">Título 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Cras ullamcorper massa
                sit amet lacus egestas, ac ultricies nisi tincidunt.</p>
        </div>
        <div class="w-full md:w-1/2 p-4">
            <h2 class="text-xl font-bold mb-4">Título 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Cras ullamcorper massa
                sit amet lacus egestas, ac ultricies nisi tincidunt.</p>
        </div>
    </section>

    <section class="mt-8">
        <h2 class="text-xl font-bold mb-4">Título 3</h2>
        <ul class="list-disc pl-4">
            <li>Elemento 1</li>
            <li>Elemento 2</li>
            <li>Elemento 3</li>
        </ul>
    </section>
</main>
<app-footer></app-footer>