@media screen and (min-width: 768px) {
    .bg-home {
        background-image: url('/assets/images/home/header-bg-home-newton-mun-desk.jpg');
        background-position: top;

    }
}

@media screen and (max-width: 767px) {
    .bg-home {
        background-image: url('/assets/images/home/header-bg-home-newton-mun-mob.jpg');
        background-position: left;
        @include background-retina('/assets/images/home/header-bg-home-newton-mun-mob@2x.jpg');
    }
    .home-statist-char .image img{
        width: 40px;
    }

}

@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .bg-home {
        background-image: url('/assets/images/home/header-bg-home-newton-mun-mob@2x.jpg');
    }
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .bg-home {
        background-image: url('/assets/images/home/header-bg-home-newton-mun-desk@2x.jpg');
    }
}


.home-statist-char .image img{

}
