<main class="">
    <div class="bg-home bg-header">
        <app-navbar></app-navbar>
        <section class="flex flex-col container mx-auto home-logo-mun pt-28 pb-56">
            <div class="mx-auto md:ml-0">
                <picture class="inline-block logo-navbar">
                    <source media="(max-width: 767px)"
                        srcset='../assets/images/home/logo-MUN-mob-Newton-College.png 1x, ../assets/images/home/logo-MUN-mob-Newton-College@2x.png 2x'>
                    <source media="(min-width: 768px)"
                        srcset='../assets/images/home/logo-MUN-desk-Newton-College.png 1x, ../assets/images/home/logo-MUN-desk-Newton-College@2x.png 2x'>
                    <img src="../assets/images/home/logo-MUN-mob-Newton-College.png" alt="Logo de Newton"
                        class="w-full">
                </picture>
            </div>

            <div class="text-center md:text-left">
                <p class="Montserrat-Medium text-white-1 text-sm md:text-3xl mt-3 md:mt-4 md:mb-4">Join us on april 20th & 21st!</p>
                <a class="rounded-full bg-green-5 px-8 text-white-1 Montserrat-Bold py-1 transition hover:bg-green-1 text-sm md:text-xl"
                    href="#">
                    Apply
                </a>
            </div>


        </section>
    </div>


    <section class="mt-8">
        <swiper-container>
            <swiper-slide>Slide 1</swiper-slide>
            <swiper-slide>Slide 2</swiper-slide>
            <swiper-slide>Slide 3</swiper-slide>
        </swiper-container>
    </section>
    <section>
        <p>

        </p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur eaque id enim! Consequatur,
        perspiciatis. Ut nobis molestiae dignissimos sit, ex, illum accusantium accusamus rem possimus, voluptatum
        doloribus praesentium distinctio?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium expedita consequuntur fuga est
        dolorem, quo recusandae ducimus placeat quas, dolores quis aperiam molestias quia exercitationem maxime
        iste. Atque, illum iusto.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga culpa dolore esse neque delectus, veniam nam
        nihil consequuntur saepe doloremque, quidem consequatur vitae ea doloribus quis repudiandae recusandae
        facere? Tempore.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas aut quam et reiciendis fugit
        iusto provident! Vero harum quidem numquam exercitationem tempora ex dolor, sequi laborum nisi, doloremque
        obcaecati.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo est corporis unde magnam, nesciunt iste
        accusamus error dolore commodi assumenda obcaecati. Placeat minus quia assumenda quod cupiditate tempore
        voluptas!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur possimus repellat quam corporis dolores
        necessitatibus perspiciatis accusantium, accusamus vitae dolorum libero, ducimus, laboriosam voluptas
        commodi! Beatae suscipit facere sapiente facilis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ad aspernatur, perspiciatis aliquid quos enim
        architecto temporibus est, sequi, assumenda ea totam porro id! Mollitia praesentium porro aperiam cupiditate
        alias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facere ab ut esse delectus at nihil.
        Molestiae provident molestias, esse quidem odit, aspernatur minus, quibusdam deserunt iste est unde impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloribus dolorum commodi, vero natus
        corporis est adipisci suscipit libero similique soluta dicta nobis ex, ipsa blanditiis cum animi quos quam.
    </section>
    <app-footer></app-footer>
</main>