<main class="">
    <div class="bg-home bg-header">
        <app-navbar></app-navbar>
        <section class="flex flex-col container mx-auto home-logo-mun pt-28 md:pt-48 pb-56 md:pb-36">
            <div class="mx-auto md:ml-0">
                <picture class="inline-block">
                    <source media="(max-width: 767px)"
                        srcset='../assets/images/home/logo-MUN-mob-Newton-College.png 1x, ../assets/images/home/logo-MUN-mob-Newton-College@2x.png 2x'>
                    <source media="(min-width: 768px)"
                        srcset='../assets/images/home/logo-MUN-desk-Newton-College.png 1x, ../assets/images/home/logo-MUN-desk-Newton-College@2x.png 2x'>
                    <img src="../assets/images/home/logo-MUN-mob-Newton-College.png" alt="Logo de Newton MUN"
                        class="w-full">
                </picture>
            </div>

            <div class="text-center md:text-left">
                <p class="Montserrat-Medium text-white-1 text-sm md:text-3xl mt-3 md:mt-4 md:mb-6 md:pb-2">Join us on
                    April 20th
                    & 21st!</p>
                <a class="rounded-full bg-green-5 px-8 md:px-12  text-white-1 Montserrat-Bold py-1 md:py-2 transition-all hover:bg-green-1 text-sm md:text-xl"
                    href="#">
                    Apply
                </a>
            </div>


        </section>
    </div>


    <section class="home-statist-char">

        <div class="flex flex-row overflow-x-auto -webkit-overflow-scrolling: touch">
            <div
                class="bg-green-1 min-w-[244px] w-full	md:min-w-[320px] h-[92px] md:h-[177px] flex flex-row items-center justify-center">
                <div class="image mr-4 md:mr-8">

                    <img src="../assets/images/home/home-statist-char-delegates-desk.png" alt="Icono de Delegates"
                        srcset='../assets/images/home/home-statist-char-delegates-desk.png 1x, ../assets/images/home/home-statist-char-delegates-desk@2x.png 2x'
                        class="">
                </div>
                <div class="char flex flex-col items-start justify-center counters">
                    <span class="num Montserrat-Bold text-white-1 text-2xl md:text-5xl md:pb-1 transition-all" appContador [countTo]='400' [duration]="500" easing="ease-in-out" [countInit]="50">50</span>
                    <span class="description text-white-1 text-sm md:text-xl Montserrat-Semibold">Delegates</span>
                </div>
            </div>
            <div
                class="bg-green-5 min-w-[244px] w-full	md:min-w-[320px] h-[92px] md:h-[177px] flex flex-row items-center justify-center">
                <div class="image mr-4 md:mr-8">
                    <img src="../assets/images/home/home-statist-char-committeess-desk.png" alt="Icono de Committees"
                        srcset='../assets/images/home/home-statist-char-committeess-desk.png 1x, ../assets/images/home/home-statist-char-committeess-desk@2x.png 2x'
                        class="">
                </div>
                <div class="char flex flex-col items-start justify-center counters">
                    <span class="num Montserrat-Bold text-white-1 text-2xl md:text-5xl md:pb-1 transition-all" appContador [countTo]='10' [duration]="500" easing="ease-in-out" [countInit]="1">1</span>
                    <span class="description text-white-1 text-sm md:text-xl Montserrat-Semibold">Committees</span>
                </div>
            </div>
            <div
                class="bg-lime-3 min-w-[244px] w-full	md:min-w-[320px] h-[92px] md:h-[177px] flex flex-row items-center justify-center">
                <div class="image mr-4 md:mr-8">
                    <img src="../assets/images/home/home-statist-char-guest-teachers-desk.png" alt="Icono de teachers"
                        srcset='../assets/images/home/home-statist-char-guest-teachers-desk.png 1x, ../assets/images/home/home-statist-char-guest-teachers-desk@2x.png 2x'
                        class="">
                </div>
                <div class="char flex flex-col items-start justify-center counters">
                    <span class="num Montserrat-Bold text-white-1 text-2xl md:text-5xl md:pb-1 transition-all" appContador [countTo]='50' [duration]="500" easing="ease-in-out" [countInit]="5">5</span>
                    <span class="description text-white-1 text-sm md:text-xl Montserrat-Semibold">Guest teachers</span>
                </div>
            </div>
            <div
                class="bg-teal-2 min-w-[244px] w-full	md:min-w-[320px] h-[92px] md:h-[177px] flex flex-row items-center justify-center">
                <div class="image mr-4 md:mr-8">
                    <img src="../assets/images/home/home-statist-char-universities-desk.png" alt="Icono de Universities"
                        srcset='../assets/images/home/home-statist-char-universities-desk.png 1x, ../assets/images/home/home-statist-char-universities-desk@2x.png 2x'
                        class="">
                </div>
                <div class="char flex flex-col items-start justify-center counters">
                    <span class="num Montserrat-Bold text-white-1 text-2xl md:text-5xl md:pb-1 transition-all" appContador [countTo]='3' [duration]="500" easing="ease-in-out" [countInit]="1">1</span>
                    <span class="description text-white-1 text-sm md:text-xl Montserrat-Semibold">Universities</span>
                </div>
            </div>
        </div>

    </section>
    <section class="flex flex-col container mx-auto home-letter-from-newton">
        <div class="grid md:grid-cols-2 gap-4 justify-items-center items-center">
            <div class="md:col-span-1 text-center">

                <picture class="inline-block">
                    <source media="(max-width: 767px)"
                        srcset='../assets/images/home/home-letter-from-newton-enzo-porto-mb.jpg 1x, ../assets/images/home/home-letter-from-newton-enzo-porto-mb@2x.jpg 2x'>
                    <source media="(min-width: 768px)"
                        srcset='../assets/images/home/home-letter-from-newton-enzo-porto-desk.jpg 1x, ../assets/images/home/home-letter-from-newton-enzo-porto-desk@2x.jpg 2x'>
                    <img src="../assets/images/home/home-letter-from-newton-enzo-porto-mb.jpg"
                        alt="Imagen de Enzo Porto" class="w-full h-auto object-cover">
                </picture>
            </div>
            <div class="md:col-span-1">
                <div>
                    <p class="Montserrat-Regular text-xs md:text-sm">Letter from Newton</p>
                    <h2 class="Montserrat-Bold text-2xl	md:text-3xl">MUN's Secretary-General</h2>
                    <p class="Montserrat-Regular text-xs md:text-sm">Dear Delegates and Faculty Advisors,
                    </p>
                    <p class="Montserrat-Regular text-xs md:text-sm">Welcome to NewtonMUN 2024! It fills me with joy to
                        open the national conference circuit this
                        year,
                        marking our recovery from the pandemic's effects, both in our activity and in our national
                        socioeconomic context.</p>
                    <p class="Montserrat-Regular text-xs md:text-sm"> I moved to Peru in 2018 and joined the Newton
                        Model United Nations club a few months after
                        joining
                        the school. What that means is that I joined the club completely fluent in Spanish but with very
                        average English… needless to say I was shaking. This feeling persisted until almost six months
                        later, when I went to my first conference, NewtonMUN 2019. Two conferences later, at Cambridge
                        College Model United Nations 2019, I was still shaking. In 2022, I had my first opportunity to
                        speak
                        at a United Nations conference, the UN Ocean Decade conference in Lisbon. Even after all my
                        years of
                        training in public speaking and  receiving awards at a national level… I was still shaking.
                        Nowadays, even having attended almost 30 conferences, every time it's my turn to give my opening
                        speech, I still feel my stomach go cold, my neck gets tense, and I feel that mix of adrenaline
                        and
                        nervousness.</p>
                    <p class="Montserrat-Regular text-xs md:text-sm">So what is the difference? How have these six years
                        in MUN helped me grow as a person? The
                        difference is that this feeling doesn’t stop me anymore. I know many of you will have this same
                        feeling throughout the conference and in many more in the future, in varying degrees of course.
                        MUN,
                        over simplistically because it is so much more than that, is also about building a strong
                        personal
                        armour. It is about falling and learning that you can still stand up, maybe even taller than you
                        did
                        before. I am confident that I wouldn’t be the person I am today without participating in so many
                        stressful and, quite honestly, ego-shaking events. Through updates, direct attacks, backstabbing
                        and
                        fear, I realized that the world doesn’t end when something doesn’t go according to plan. You
                        don’t
                        fail when your plan is not the best, because quite honestly it never will be (another important
                        lesson from MUN). You fail only if you let temporary losses prevent you from long-term wins.</p>
                </div>
                <div>
                    <p class="Montserrat-Regular text-xs md:text-sm">
                        Now, I would like to address all of the faculty advisors. We know many of you have children and
                        partners at home, which you left behind to be at the conference for those two days. And even if
                        you don’t, I am sure all of you can come up with a list of more relaxing activities than
                        following your delegates around through hours of intense debate, encouraging everyone and fixing
                        all types of emergencies, ensuring we are all eating and drinking, and getting us prepared for
                        the conference in the first place. That is why I thank you. Thank you for making the sacrifice
                        that allows these students to pursue their dreams. Directly and indirectly, you are making a big
                        impact on their lives. Know that every speech they give and every personal challenge they
                        overcome, has been enabled because of your commitment.
                    </p>
                    <p class="Montserrat-Regular text-xs md:text-sm">
                        With all of this being said, we await to see all of you on April 20th and 21st. The topics, as
                        well as the overall design of the conference, have carefully been chosen to make sure you have
                        the best time possible throughout this weekend. I hope you learn a lot through your time in the
                        conference, and that the leadership you take throughout the conference, at varying levels, will
                        give you the confidence to pursue your dreams. It is through the challenges you face that you
                        will grow, and the Newton team cannot wait to see it!

                    </p>
                    <p class="Montserrat-Regular text-xs md:text-sm">
                        Thank you very much for your attention, and we look forward to seeing you at the conference!

                    </p>
                    <p class="Montserrat-Regular text-xs md:text-sm">
                        Sincerely,
                    </p>



                    <p>
                        <strong class="Montserrat-Semibold text-lg md:text-xl">
                            Enzo Porto
                        </strong>
                        <span class="Montserrat-Regular text-xs md:text-sm">
                            Newton Model United Nations Secretary-General.
                        </span>
                    </p>


                </div>
            </div>
        </div>
    </section>
    <section class="home-video-yt container mx-auto grid justify-items-center items-center">
        
        <div class="w-full max-w-md mx-auto md:max-w-[1161px] py-8 px-4">
            <iframe class="aspect-video w-full" src="https://www.youtube.com/embed/q_vd2tSLIdI" title="Newton College Model UN - 2023 YouTube video"
                allowfullscreen></iframe>
        </div>
    </section>
    <app-footer></app-footer>
</main>