<main class="">
    <div class="bg-header bg-facilities">
        <app-navbar></app-navbar>
    </div>
    <section class="facilities-datos container mx-auto my-20" >
        <div class="flex flex-col items-center justify-center lg:flex-row lg:justify-evenly">
            <div class="mt-10 lg:mt-0">
                <div class="text-center lg:h-[250px] mb-2">
                    <img loading="lazy" src="../assets/images/facilities/facilities-starbucks.jpg" alt="Image of Starbucks Coffee"
                        class="w-[118px] inline-block lg:w-[227px] object-contain"
                        srcset='../assets/images/facilities/facilities-starbucks.jpg 1x, ../assets/images/facilities/facilities-starbucks@2x.jpg 2x'>
                </div>
                <div>
                    <strong class="text-center block Montserrat-Bold text-[20px] lg:text-[40px] bg-lime-3 p-1">
                        Starbucks Coffee
                    </strong>
                </div>
            </div>
            <div class="mt-10 lg:mx-20 lg:mt-0">
                <div class="text-center lg:h-[250px] mb-2">
                    <img loading="lazy" src="../assets/images/facilities/facilities-food-trucks.jpg" alt="Image of Food Trucks"
                        class="w-[117px] inline-block lg:w-[227px] object-contain"
                        srcset='../assets/images/facilities/facilities-food-trucks.jpg 1x, ../assets/images/facilities/facilities-food-trucks@2x.jpg 2x'>
                </div>
                <div>
                    <strong class="text-center block Montserrat-Bold text-[20px] lg:text-[40px] bg-lime-3 p-1">
                        Food Trucks
                    </strong>
                </div>
            </div>
            <div class="mt-10 lg:mt-0 ">
                <div class="text-center lg:h-[250px] mb-2">
                    <img loading="lazy" src="../assets/images/facilities/facilities-kiosks.jpg" alt="Image of Kiosks"
                        class="w-[144px] inline-block lg:w-[277px] lg:mt-8 object-contain"
                        srcset='../assets/images/facilities/facilities-kiosks.jpg 1x, ../assets/images/facilities/facilities-kiosks@2x.jpg 2x'>
                </div>
                <div>
                    <strong class="text-center block Montserrat-Bold text-[20px] lg:text-[40px] bg-lime-3 p-1">
                        Kiosks
                    </strong>
                </div>
            </div>

        </div>

    </section>


    <app-footer></app-footer>
</main>